# config file for ansible -- http://ansibleworks.com/
# ==================================================

# nearly all parameters can be overridden in ansible-playbook 
# or with command line flags. ansible will read ~/.ansible.cfg, 
# ansible.cfg in the current working directory or
# /etc/ansible/ansible.cfg, whichever it finds first

[defaults]

# uncomment this to disable SSH key host checking
host_key_checking = False

# SSH timeout
timeout = 120

remote_tmp = /tmp

#transport = paramiko

